@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}

.title {
    text-align: center;
    margin: 20px;
    color: #4800ff;
}

.container {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #4800ff78;
    box-shadow: 0px 0;  
    font-size: 20px;
    color: #000;
    cursor: pointer;
    margin: 10px;
    transition: 0.4s;
}

.calculator form input:hover {
    background-color: #d900ff78;
    scale: 1.08;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: center;
    flex: 1;
    font-size: 45px;
    padding: 40px;
}